.itemPokemons {
    list-style: none;
    display: flex;
    text-align: center;
    background-color: #fefefe;
    border-radius: 10px;
    height: 100%;
    flex-direction: column;
    animation: fadeIn 1s both;
    transition: 500ms;
    position: relative;
    width: 100%;
    box-shadow: 1px 1px   3px;
}

.containerImg{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}



.fadeIn {
    animation: fadeIn 3s both;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



.containerStats {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.order {
    display: flex;
}

.order span {
    color: #b3b3b3;
    padding: .5rem;

}

.type {
    padding: .5rem 1rem;
    border-radius: 10px;
    border: 2px solid black;
}

.fire,
.poison,
.bug,
.normal,
.water,
.grass,
.flying,
.electric,
.ground,
.fairy,
.fighting,
.psychic,
.rock,
.ice,
.dark,
.ghost,
.steel {
    color: rgb(244, 240, 240);
    font-size: 12px;
    font-weight: bold;

}

.fire {
    background-color: rgb(240, 75, 75);
}

.poison {
    background-color: purple;
}

.bug {
    background-color: rgb(119, 166, 255);
}

.normal {
    background-color: rgb(69, 37, 3);
}

.water,
.ice {
    background-color: rgb(5, 121, 236);
}

.grass {
    background-color: green;
}

.flying {
    background-color: rgb(6, 187, 248);
}

.electric {
    background-color: rgb(119, 145, 18);
}

.ground {
    background-color: rgb(174, 166, 126);

}

.fairy {
    background-color: rgb(253, 120, 206);

}

.fighting,
.steel {
    background-color: rgb(94, 94, 94);

}

.psychic {
    background-color: rgb(94, 23, 248);

}

.rock,
.dark,
.ghost {
    background-color: rgb(52, 52, 52);
}

.divButton{
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonShowMore{
    padding: 1rem 1rem;
    background-color: rgb(228, 228, 228);
    border-radius: 10px;
    border: none;
    width: 250px;
    cursor: pointer;
    transition: 500ms;
    color: rgb(36, 36, 36);
    margin-bottom: 2rem;
    
    

}

.buttonShowMore:hover {
    width: 280px;
    transition: 500ms ;
    background-color: #b3b3b3;
}

@media screen and (max-width: 768px) {
    .itemPokemons {
        width: auto;
        height: auto;
        padding: 3rem 2rem;
        gap: 10px;
        justify-content: space-around;

    }
    

    .itemPokemons img {
        width: 100px;
    }
}
@media screen and (max-width: 478px) {
    .itemPokemons {
        width: auto;
        height: auto;
        padding: .4rem 3rem;
        gap: 10px;

    }
   
    .itemPokemons img {
        width: 100px;
    }
}